@charset "UTF-8";

*{
  margin:0;
  padding:0;
  font-size: 0.08rem;
  font-family: "微软雅黑 Light";
}
html,body{
  width: 100%;
  height: 100%;
}
header{
  padding:0.08rem 0.09rem;
  display: flex;
  justify-content: center;
  align-items:center;
  position: relative;
  height:0.4rem;
  background: white;
  position: relative;
  z-index: 10;
  .logo{
    width:1.07rem;
    height: 0.365rem;
    position: absolute;
    top:0.08rem;
    left: 0.09rem;
    img{
      width:100%;
    }
  }
  .wenzi{
    font-size:0.18rem;
  }
  .icon{
    position: absolute;
    right:0.09rem;
    top:0.08rem;
    display: flex;
    align-items:center;
    height:0.4rem;
    .icon-1{
      margin-left:0.1rem;
      text-align: center;
      div{
        height:0.24rem;
        display: flex;
        align-items: center;
        i{
          font-size:0.225rem;
          color:#999;
        }
      }
      p{
        height: 0.16rem;
        color:#999;
        font-size: 0.12rem;
      }
    }
    .icon-1:last-child{
      i{
        font-size:0.165rem;
      }
    }
  }
}
#sec-1{
  margin:0 0.09rem;
  border-top:0.01rem solid #dcdcdc;
  padding:0 0 0.18rem;
  .sec1-action{
    padding-left:0.09rem;
    border-bottom:0.005rem solid #dcdcdc;
    padding-bottom:0.1rem;
    padding-top:0.1rem;
    .sec1-action-head{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom:0.18rem;
      .user{
        display: flex;
        .touxiang{
          width:0.3rem;
          height:0.3rem;
          border-radius: 50%;
          background:#dcdcdc;
          display: flex;
          justify-content: center;
          align-items: center;
          i{
            font-size: 0.24rem;
            color:white;
          }
        }
        .name{
          color:#39c894;
          font-size: 0.14rem;
          margin-left:0.1rem;
        }
      }
      .time{
        color:#999;
        font-size: 0.14rem;
      }
    }
    .wenzhang{
      p{
        font-size: 0.18rem;
        color:#000;
        line-height: 1.5em;
      }
    }
  }
}
.fanye{
  margin-top:0.18rem;
  margin-bottom:0.18rem;
  display: flex;
  width:100%;
  border:0.005rem solid #eaeaea;
  span{
    height: 0.41rem;
    background: white;
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
    font-size: 0.18rem;
  }
  button{
    height:0.41rem;
    background:#39c894;
    font-size: 0.18rem;
    border:none;
    color:white;
    flex-grow: 1;
  }
}
#sec-7{
  margin:0 0.09rem;
  padding:0.15rem 0;
  p{
    font-size: 0.14rem;
    color:#666;
    line-height: 0.2rem;
  }
}
footer{
  padding:0.18rem 0;
  margin: 0 0.09rem;
  margin-bottom:0.53rem;
  .foot-1{
    display: flex;
    justify-content: center;
    align-items:center;
    span{
      font-size:0.14rem;
      vertical-align: middle;
      color:#333;
    }
    i{
      color:#39c894;
      font-size:0.16rem;
      display: flex;
      align-self:flex-end;
      vertical-align: middle;
      position: relative;
      top:0.02rem;
    }
  }
  ul{
    display: flex;
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
    margin-top:0.18rem;
    li{
      font-size: 0.14rem;
      list-style: none;
      padding:0 0.18rem;
      border-left:0.005rem solid #ccc;
      color:#333;
    }
    li:first-child{
      border:none;
      color:#39c894;
    }
  }
}
#guanggao{
  width:100%;
  height: 0.53rem;
  position: fixed;
  bottom:0;
  background:rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  .cha{
    width:0.2rem;
    height: 0.2rem;
    position: absolute;
    top:0;
    left:0;
    img{
      width:100%;
    }
  }
  .logo{
    margin-left:0.6rem;
    width:1.65rem;
    img{
      width: 100%;

    }
  }
  button{
    width:0.875rem;
    height: 0.25rem;
    border-radius:0.15rem;
    margin-left:0.3rem;
    border:none;
    background:#feb605;
    font-size: 0.12rem;
    color:white;
  }
}
#dingbu{
  width:0.47rem;
  height: 0.47rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right:0.1rem;
  bottom:1rem;
  border:0.01rem solid #dedede;
  border-radius:50%;
  background: white;
  i{
    font-size: 0.2rem;
    color:#9c9c9c;
  }
}
.jianxi{
  width:100%;
  height: 0.1rem;
  background: #f4f4f4;
}
.zhezhao{
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.75);
  position:fixed;
  top:0;
  left:0;
}
#pinglunkuang{
  position: fixed;
  top:50%;
  left: 0;
  z-index: 10;
  width: 100%;
  background:#f4f4f4;
  padding:0.1rem 0.09rem;
  box-sizing: border-box;
  .head{
    margin-bottom:0.1rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
    .quxiao{
      width:0.66rem;
      height: 0.3rem;
      font-size: 0.14rem;
      background:#ccc;
      border:none;
      border-radius: 0.05rem;
    }
    p{
      font-size: 0.18rem;
    }
    .queren{
      width:0.66rem;
      height: 0.3rem;
      font-size: 0.14rem;
      background:#39c894;
      border:none;
      color:white;
      border-radius: 0.05rem;
    }
  }
  .kuang{
    padding:0.05rem;
    box-sizing: border-box;
    background: white;
    .txa{
      width: 100%;
      height: 0.8rem;
      border:none;
      outline: none;
    }
  }
}
