@charset "UTF-8";

@charset "UTF-8";

*{
  margin:0;
  padding:0;
  font-size: 0.08rem;
  font-family: "微软雅黑 Light";
}
html,body{
  width: 100%;
  height: 100%;
}
header{
  margin:0.08rem 0.09rem;
  display: flex;
  justify-content: center;
  align-items:center;
  position: relative;
  height:0.4rem;
  .logo{
    width:1.07rem;
    height: 0.365rem;
    position: absolute;
    top:0;
    left: 0;
    img{
      width:100%;
    }
  }
  .wenzi{
    font-size:0.18rem;
  }
  .icon{
    position: absolute;
    right:0;
    top:0;
    display: flex;
    align-items:center;
    height:0.4rem;
    .icon-1{
      margin-left:0.1rem;
      text-align: center;
      div{
        height:0.24rem;
        display: flex;
        align-items: center;
        i{
          font-size:0.225rem;
          color:#999;
        }
      }
      p{
        height: 0.16rem;
        color:#999;
        font-size: 0.12rem;
      }
    }
    .icon-1:last-child{
      i{
        font-size:0.165rem;
      }
    }
  }
}
#banner{
  width:100%;
  position: relative;
  font-size: 0;
  img{
    width:100%;
  }
  ul{
    display: flex;
    width:100%;
    justify-content: center;
    position: absolute;
    bottom:0.1rem;
    li{
      list-style: none;
      width:0.06rem;
      height:0.06rem;
      border-radius:50%;
      background:#999;
      margin:0 0.08rem;
    }
    li:first-child{
      background:#39c894;
    }
  }
}
#sec-1{
  margin-top:0.1rem;
  .sec1-head{
    margin:0 0.09rem;
    p{
      padding:0.02rem 0.1rem;
      background:#f4f4f4;
      border-radius: 0.02rem;
      font-size: 0.12rem;
    }
  }
  .sec1-action{
    .sec1-action-head{
      margin:0 0.09rem;
      border-bottom:0.005rem solid #eaeaea;
      h2{
        font-size: 0.18rem;
        text-align: center;
        margin-top:0.18rem;
      }
      p{
        display: flex;
        justify-content: center;
        span{
          font-size: 0.12rem;
          color:#999;
          margin:0.15rem;
          i{
            font-size:0.14rem;
            color:#999;
            margin-right:0.02rem;
          }
        }
      }
    }
    .sec1-action-ad{
      margin:0 0.09rem;
      ul{
        margin-top:0.15rem;
        display: flex;
        flex-wrap: wrap;
        li{
          list-style: none;
          border:0.005rem solid #eaeaea;
          border-radius:0.1rem;
          padding:0.01rem 0.05rem;
          font-size: 0.12rem;
          margin:0 0.03rem;
          margin-bottom:0.09rem;
          color:#999;
        }
      }
    }
    .sec1-action-body{
      margin-top:0.18rem;
      margin:0 0.09rem;
      p{
        text-indent: 2em;
        font-size: 0.12rem;
        line-height: 0.18rem;
        color:#666;
      }
      .tu{
        margin:0 auto;
        width:2.7rem;
        margin-bottom:0.25rem;
        img{
          width:100%;
        }
      }
      button{
        width:100%;
        height: 0.35rem;
        border:0.005rem solid #39c894;
        background: white;
        border-radius: 0.03rem;
        font-size: 0.18rem;
        color:#39c894;
        margin-bottom:0.18rem;
      }
      ul{
        display:flex;
        justify-content: space-around;
        margin-bottom:0.18rem;
        li{
          list-style: none;
          text-align: center;
          font-size: 0;
          img{
            width:0.5rem;
            height:0.5rem;
          }
          p{
            text-indent: 0;
            color:#FDB604;
            font-size: 0.12rem;
            line-height:0.12rem;
            margin-top:0.115rem;
          }
        }
        li:first-child{
          p{
            color:#37A6F5;
            font-size: 0.12rem;
          }
        }
      }
    }
  }
}
#sec-6{
  .sec6-head{
    margin:0.15rem 0.09rem 0;
    display: flex;
    .border{
      width:0.025rem;
      height: 0.24rem;
      background:#39c894;
      margin-right:0.06rem;
    }
    span{
      font-size:0.18rem;
      color:black;
      letter-spacing:0.04rem;
    }
  }
  .sec6-action{
    margin:0 0.09rem;
    padding:0.16rem 0 0.155rem;
    border-bottom:0.005rem solid #ddd;
    display: flex;
    .tu{
      width:0.95rem!important;
      height: 0.725rem;
      margin-right:0.11rem;
      img{
        width:100%;
        height:100%;
      }
    }
    .zi{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      p{
        line-height: 0.255rem;
        font-size:0.18rem;
        width:2.55rem;
        display: flex;
        align-self:flex-start;
      }
      .time{
        margin-top:0.0725rem;
      }
      span{
        color:#999;
        font-size:0.14rem;
        margin-right:0.375rem;
        i{
          font-size: 0.14rem;
          color:#999;
          margin-right:0.06rem;
        }
      }
    }
  }
  .sec6-btn{
    margin:0 0.09rem;
    margin-bottom:0.18rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    button{
      width:50%;
      border:0.005rem solid #ccc;
      background:none;
      height:0.35rem;
      font-size:0.14rem;
      color:#39c894;
      i{
        font-size:0.14rem;
        color:#39c894;
        font-weight: bold;
      }
    }
    button:first-child{
      border-top-left-radius: 0.04rem;
      border-bottom-left-radius: 0.04rem;
    }
    button:last-child{
      border-top-right-radius:0.04rem;
      border-bottom-right-radius:0.04rem;
    }
  }
}
.jianxi{
  width:100%;
  height:0.1rem;
  background: #f4f4f4;
}
#sec-7{
  margin:0 0.09rem;
  padding:0.15rem 0;
  p{
    font-size: 0.14rem;
    color:#333;
    line-height: 0.2rem;
  }
}
footer{
  padding:0.18rem 0;
  margin: 0 0.09rem;
  margin-bottom:0.53rem;
  .foot-1{
    display: flex;
    justify-content: center;
    align-items:center;
    span{
      font-size:0.14rem;
      vertical-align: middle;
      color:#333;
    }
    i{
      color:#39c894;
      font-size:0.16rem;
      display: flex;
      align-self:flex-end;
      vertical-align: middle;
      position: relative;
      top:0.02rem;
    }
  }
  ul{
    display: flex;
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
    margin-top:0.18rem;
    li{
      font-size: 0.14rem;
      list-style: none;
      padding:0 0.18rem;
      border-left:0.005rem solid #ccc;
      color:#333;
    }
    li:first-child{
      border:none;
      color:#39c894;
    }
  }
}
#guanggao{
  width:100%;
  height: 0.53rem;
  position: fixed;
  bottom:0;
  background:rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  .cha{
    width:0.2rem;
    height: 0.2rem;
    position: absolute;
    top:0;
    left:0;
    img{
      width:100%;
    }
  }
  .logo{
    margin-left:0.6rem;
    width:1.65rem;
    img{
      width: 100%;

    }
  }
  button{
    width:0.875rem;
    height: 0.25rem;
    border-radius:0.15rem;
    margin-left:0.3rem;
    border:none;
    background:#feb605;
    font-size: 0.12rem;
    color:white;
  }
}
#dingbu{
  width:0.47rem;
  height: 0.47rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right:0.1rem;
  bottom:1rem;
  border:0.01rem solid #dedede;
  border-radius:50%;
  background: white;
  i{
    font-size: 0.2rem;
    color:#9c9c9c;
  }
}
.fenxiang{
  width:3.57rem;
  box-sizing: border-box;
  margin:0 0.09rem;
  position: fixed;
  top:20%;
  left: 0;
  background:rgba(0,0,0,0.8);
  padding:0 0.35rem;
  ul{
    display: flex;
    width:100%;
    justify-content: center;
    li{
      list-style: none;
      margin:0.4rem 0.2rem 0.325rem;
      img{
        width:0.675rem;
        height:0.675rem;
      }
      p{
        color:white;
        font-size: 0.16rem;
        text-align: center;
      }
    }
  }
  button{
    width:100%;
    height:0.4rem;
    background:white;
    border-radius: 0.05rem;
    border:none;
    margin-bottom:0.17rem;
    font-size: 0.18rem;
  }
}
